:root {
  --bv-primary: #3491FA;
  --bv-primary-active: #3491FA50;
  --bv-plain: #EAF8F6;
  --bv-orange: #FCA21C;
  --bv-text1: #121826;
  --bv-text2: #3C3E42;
  --bv-text3: #6F6F6F;
  --bv-tag: #848484;
  --bv-dark: #979797;
  --bv-tip: #C3C3C5;
  --bv-disable: #D9DBDE;
  --bv-line: #EDEDED;
  --bv-bg: #F6F7F9;
  --bv-price: #EB5757;
}
